<div class="row">
    <input type="hidden" class="inputid"/>
    <div class="col-md-3">
        <label class="prod_name">...</label>
    </div>
    <div class="col-md-3">
        <label class="prod_amount">...</label>
    </div>
    <div class="col-md-3">
        $<span class="prod_price">...</span>
    </div>
    <div class="col-md-3">
        $<span class="prod_price_total">...</span>
        <a class="delete_prod ml-4" href="#" data-toggle="tooltip" data-placement="top" title="Remove from cart"><i class="far fa-times-circle text-danger"></i></a>
    </div>
</div>